<div class="row">
  <h1>Listing pats</h1>
  <div id="divTable">
    <%= render('table') %>
  </div>
  

  <div class="large-6 columns">
    <div>
      <%= link_to 'New Pat', new_pat_path, class: "button tiny radius", remote: true%>
    </div>
    <div id="divForm">
      <%#= render('form') %>
  
    </div>



  
</div>





