<div class="row">
  <h1>Listing pats</h1>
  <div id="divTable">
    <%= render('table') %>
  </div>
  

  <div class="large-6 columns">
    <div>
      <%= link_to 'New Pat', new_pat_path, class: "button tiny radius", remote: true%>
    </div>
    <div id="divForm">
      <%#= render('form') %>
    </div>
    <div>
      <select name="city_id" id="city_id">
        <option value="1">Lisbon</option>
        <option value="2">Madrid</option>
        <option value="3">Berlin</option>
      </select>
      <%= select_tag(:town_id, options_for_select([['Lisbon', 1], ['Madrid', 2]], 2)) %>
    </div>
  </div>
</div>





