<div class="row">
  <h1>Listing pats</h1>
  <div id="divTable">
    <%= render('table') %>
  </div> 
  

  <div class="large-3 columns">
    <div>
      <%= link_to 'New Pat', new_pat_path, class: "button tiny radius", id: 'bNew', remote: true%>
    </div>
    <div id="divForm">
      <%#= render('form') %> 
    </div>

  <div id="divIndexHideWrapper">
  <%= select_tag(:ward_id, grouped_options_for_select(@grouped_options), id: 'sWard', prompt: 'Choose Ward') %>
  </div>
  
  
</div>





