<div class="row">
	<div class="large-11 columns large-centered alignCenterNoPadding"><h5>Treatment Tracker</5></div>
</div>
<div class="row">
	<div class="large-11 columns large-centered  ">
		<div class="panel">
			<div class="row">
				<div class="large-12 columns large-centered">
					<div class="panel callout radius">
						FILTERS
					</div>
					<div>
						TABLE HERE
					</div>					
				</div>
			</div>		
		</div>
	</div>
</div>
<div class="row">
	<div class="large-6 columns ">
		<div class="panel">
			Left div
		</div>		
	</div>
	<div class="large-6 columns">
		<div class="panel">
			Right div
		</div>
	</div>
</div>