<div class="row">
	<div class="large-5 columns large-centered alignCenterNoPadding"><h5>Ward Weekly Clinical Note Tracker</h5></div>
</div>
<div class="row">
	<div class="large-9 columns large-centered panel radius">
		<div class=" panel callout radius">
			<%= search_form_for @q, remote:true do |f| %>
			<div class="row">
				<div class="small-2 columns" >
		            <div class="small-2 columns">
		                <%= f.submit class: 'button tiny radius' %>  
		              </div>
		         </div>
			</div>
			<% end %>			
		</div>
		<div>
			Table will be here
		</div>
		
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div class="panel radius">
			Left Output
		</div>
	</div>
	<div class="large-6 columns">
		<div class="panel radius">
			Right Output
		</div>
	</div>
</div>