<div class="row">
	<div class="large-6 columns">
		<%= render('to_do') %>
	</div>

	<div class="large-6 columns">
		<div id="divForm">
			forms will be rendered here
	  		<%#= render('form') %> 
		</div>
	</div>
</div>