<div class="row">
	<div id="divToDo" class="large-6 columns">
		<%= render('to_do') %>
	</div>

	<div class="large-6 columns">
		<div id="divForm">
	  		<%#= render('form') %> 
		</div>
	</div>
</div>